@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: rgb(20, 20, 20);
    padding: 0px 50px;
}
.container{
    padding: 50px 0px;
    height: 100vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.parent {
    height: 400px;
    width: 300px;
    padding: 20px;
    perspective: 1000px;
}
.card {
    padding-top: 1000px;
    transform-style: preserve-3d;
    background-image: url();
    background-position: center center;
    width: 100%;
    transition: all 0.5s ease-in-out ;
    border-radius: 10px;
}
.card:hover {
    background-position: 80% 20%;
    transform: rotate3d(0.5, 1, 0, 30deg);

}
.content-box {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.011);
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
    transition: all 0.5s ease-in-out;
    padding: 50px 25px 25px 25px;
    transform-style: preserve-3d;
}
.card-title {
    color: aliceblue;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px) ;
}
.card-title:hover {
    transform: translate3d(0px, 0px, 50px) ;
}
